spring:
  application:
    name: "configserver"
  profiles:
    active: native

  cloud:
    config:
      server:
        native:
#          search-locations: "classpath:/config"
          search-locations: "file:///Users//rakesh//Documents//Learning//Springboot//config"
server:
  port: 8071
